@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:    url('../fonts/Montserrat-Light.woff2') format('woff2'),
            url('../fonts/Montserrat-Light.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
            url('../fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:    url('../fonts/Ubuntu-Regular.woff2') format('woff2'),
            url('../fonts/Ubuntu-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:    url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
            url('../fonts/Ubuntu-Medium.woff') format('woff');
}

