.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

// html,
// body {
//     height: 100%;
// }

// .main {
//     flex-grow: 1;
// }

// body {
//     // font-family: $Rubik;
//     // font-weight: $fw400;
//     font-size: 16px;
//     background-color: #fff;
//     // color: $global;
//     display: flex;
//     flex-direction: column;
//     counter-reset: m-counter;
//     @include max($lg) {
//         // line-height: 1.5;
//         // font-size: 16px;
//     }
// }

// .container {
//     max-width: 1200px;
//     padding: 0 15px;
//     margin: 0 auto;
//     &--fluid {
//         max-width: 1800px;
//     }
//     @include max($s) {
//         padding: 0 10px;
//     }
// }

//  @include max($lg) {
//         padding-top: 53px;
//  }


//   @include lineClamp;
// -webkit-line-clamp: 2;