<section class="page contacts" id="contacts" >
    <div class="container">
        <div class="page__inner contacts__inner" style="background-image: url(images/contacts-bg.png);">
            <h2 class="title contacts__title">Контакты</h2>
            <ul class="contacts__list">
                <li class="contacts__item contacts__item--phone">
                    <svg class="contacts__circle" preserveAspectRatio="xMinYMin meet" viewBox="0 0 200 200">  
                        <circle cx="100" cy="100" r="50"/>
                    </svg>
                    <div class="contacts__social">
                        <svg class="contacts__icon" aria-label="Иконка инстаграмм">
                            <use xlink:href="images/sprite.svg#phone"></use>
                        </svg> 
                    </div>
                    <a class="contacts__link"  href="tel:+375297330779" aria-label="Произойдёт вызов"></a>
                </li>

                <li class="contacts__item contacts__item--telegram">
                    <svg class="contacts__circle" preserveAspectRatio="xMinYMin meet" viewBox="0 0 200 200">  
                        <circle cx="100" cy="100" r="50"/>
                    </svg>
                    <div class="contacts__social">
                        <svg class="contacts__icon" aria-label="Иконка телеграмм">
                            <use xlink:href="images/sprite.svg#telegram"></use>
                        </svg> 
                    </div>
                    <a class="contacts__link" target="_blanck" href="tg://resolve?domain=Kulman_wg" aria-label="Произойдёт вызов"></a>
                </li>
                <li class="contacts__item contacts__item--viber">
                    <svg class="contacts__circle" preserveAspectRatio="xMinYMin meet" viewBox="0 0 200 200">  
                        <circle cx="100" cy="100" r="50"/>
                    </svg>
                    <div class="contacts__social">
                        <svg class="contacts__icon" aria-label="Иконка вайбер">
                            <use xlink:href="images/sprite.svg#viber"></use>
                        </svg> 
                    </div>
                    <a class="contacts__link" href="viber://chat?number=+375297330779" aria-label="Произойдёт вызов"></a>
                </li>
                <li class="contacts__item contacts__item--whatsapp">
                    <svg class="contacts__circle" preserveAspectRatio="xMinYMin meet" viewBox="0 0 200 200">  
                        <circle cx="100" cy="100" r="50"/>
                    </svg>
                    <div class="contacts__social">
                        <svg class="contacts__icon" aria-label="Иконка whatsapp">
                            <use xlink:href="images/sprite.svg#whatsapp"></use>
                        </svg> 
                    </div>
                    <a class="contacts__link" target="_blanck" href="https://wa.me/+375297330779?text=Здравствуйте." aria-label="Произойдёт вызов"></a>
                </li>
                <li class="contacts__item contacts__item--skype">
                    <svg class="contacts__circle" preserveAspectRatio="xMinYMin meet" viewBox="0 0 200 200">  
                        <circle cx="100" cy="100" r="50"/>
                    </svg>
                    <div class="contacts__social">
                        <svg class="contacts__icon" aria-label="Иконка skype">
                            <use xlink:href="images/sprite.svg#skype"></use>
                        </svg> 
                    </div>
                    <a class="contacts__link" target="_blanck" href="https://join.skype.com/invite/G8hLSSmsynij" aria-label="Произойдёт вызов"></a>
                </li>
                <li class="contacts__item contacts__item--email">
                    <svg class="contacts__circle" preserveAspectRatio="xMinYMin meet" viewBox="0 0 200 200">  
                        <circle cx="100" cy="100" r="50"/>
                    </svg>
                    <div class="contacts__social">
                        <svg class="contacts__icon" aria-label="Иконка email">
                            <use xlink:href="images/sprite.svg#email"></use>
                        </svg> 
                    </div>
                    <a class="contacts__link"  href="mailto:vadim.kulman90@mail.ru" aria-label="Возможность написать на почту"></a>
                </li>
            </ul>
            <a class="contacts__links contacts__links--git" href="https://github.com/kulman90vadik/" target="_blanck">
                <svg class="contacts__links-icon" aria-label="Иконка github">
                    <use xlink:href="images/sprite.svg#github"></use>
                </svg> 
                <p class="contacts__text">Мой профиль GitHub</p>
            </a>
            <a class="contacts__links" href="mailto:vadim.kulman90@mail.ru" target="_blanck">
                <svg class="contacts__links-icon" aria-label="Иконка post">
                    <use xlink:href="images/sprite.svg#post"></use>
                </svg> 
                <p class="contacts__text">vadim.kulman90@mail.ru</p>
            </a>
        </div>
    </div>
</section>            
