<section class="footer">
    <div class="container">
        <div class="footer__inner">
            <ul class="social footer__social">
                <li class="social__item">
                    <a class="social__link social__link--instagram" target="_blanck" href="https://www.instagram.com/kulman_vadim">
                        <svg class="social__icon social__icon--instagram" aria-label="Иконка инстаграмм">
                            <use xlink:href="images/sprite.svg#instagram"></use>
                        </svg> 
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link social__link--vk" target="_blanck" href="https://vk.com/wadikkulmann">
                        <svg class="social__icon social__icon--vk" aria-label="иконка вконтакте">
                            <use xlink:href="images/sprite.svg#vk"></use>
                        </svg> 
                    </a>
                </li>
            </ul>
            <div class="footer__text">
                <p>
                    &copy; Портфолио 2021 -  Кульман Вадим
                </p>
            </div>
        </div>
    </div>
</section>