<header class="header">
    <div class="container container--fluid">
        <div class="header__inner">
            <a class="logo" href="#body">
                <img class="logo__images" src="images/logo.png" alt="Logo">
            </a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#about-me">Über mich</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#skills">Fähigkeiten</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#contacts">Kontakte</a>
                    </li>
                </ul>
            </nav>
            <ul class="social">
                <li class="social__item">
                    <a class="social__link social__link--instagram" target="_blanck" href="https://www.instagram.com/kulman_vadim">
                        <svg class="social__icon social__icon--instagram" aria-label="icon insta">
                            <use xlink:href="images/sprite.svg#instagram"></use>
                        </svg> 
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link social__link--vk" target="_blanck" href="https://vk.com/wadikkulmann">
                        <svg class="social__icon social__icon--vk" aria-label="icon vk">
                            <use xlink:href="images/sprite.svg#vk"></use>
                        </svg> 
                    </a>
                </li>
            </ul>
            <button class="header__btn" type="button" aria-label="Dropdown-Menü">
                <span class="header__btn-item"></span>
                <span class="header__btn-item"></span>
                <span class="header__btn-item"></span>
            </button>
        </div>
    </div>
</header>