<section class="home-page">
    <div class="container container--fluid">
        <div class="home-page__inner">
            <h1 class="home-page__title wow animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="1s" data-wow-delay="2s">Junior <mark class="home-page__title-html">html</mark> верстальщик</h1>
            <span class="home-page__name wow animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="1.5s" data-wow-delay="2s">Кульман Вадим</span>
            <a class="home-page__link wow animate__fadeInLeft" href="#contacts" data-wow-duration="1s" data-wow-delay="2s" data-wow-delay="2s">
                <span class="home-page__text">
                    Связаться со мной
                </span>
                <svg class="home-page__icon" aria-label="Анимированная стрелка, при клике переход блок с контакми">
                    <use xlink:href="images/sprite.svg#arrow-down"></use>
                </svg>
            </a>
        </div>
    </div>
</section>