<section class="page skills" id="skills">
    <div class="container">
        <div class="page__inner">
            <h2 class="title">Fähigkeiten</h2>
            <ul class="skills__holder">
                <li class="skills__items skills__items--html wow animate__fadeInUp" data-wow-duration="1s" data-wow-offset="100">
                    <object class="skills__icon" id="html" type="image/svg+xml" data="images/icons/html.svg" aria-label="Картинка html 5"></object>
                    <span class="skills__category">Html 5</span>
                    <ul class="skills__list">
                        <li class="skills__item">
                            Семантичная разметка
                        </li>
                        <li class="skills__item">
                            Методология БЭМ
                        </li>
                        <li class="skills__item">
                            Контроль валидности кода
                        </li>
                        <li class="skills__item">
                            Доступность интерфейсов
                        </li>
                        <li class="skills__item">
                            Структутированный код
                        </li>
                    </ul>        
                </li>
                <li class="skills__items skills__items--css wow animate__fadeInUp" data-wow-duration="1s" data-wow-offset="100">
                    <object  class="skills__icon" id="css" type="image/svg+xml" data="images/icons/css.svg" aria-label="Картинка css 3"></object>
                    <span class="skills__category">Css 3</span>
                    <ul class="skills__list">
                        <li class="skills__item">
                            Плавные переходы, CSS-фильтры
                        </li>
                        <li class="skills__item">
                            PixelPerfect
                        </li>
                        <li class="skills__item">
                            Адаптивная верстка
                        </li>
                        <li class="skills__item">
                            Кроссбраузерность
                        </li>
                        <li class="skills__item">
                            Сетки на флексбоксах и гридах
                        </li>
                    </ul>     
                </li>
                <li class="skills__items skills__items--js wow animate__fadeInUp" data-wow-duration="1s" data-wow-offset="100">
                    <object  class="skills__icon" id="js" type="image/svg+xml" data="images/icons/js.svg" aria-label="Картинка Javascript"></object>
                    <span class="skills__category">Javascript</span>
                    <ul class="skills__list">
                        <li class="skills__item">
                            Обработка событий
                        </li>
                        <li class="skills__item">
                            Манипуляции с элементами
                        </li>
                        <li class="skills__item">
                            Генерация DOM-элементов из шаблонов
                        </li>
                        <li class="skills__item">
                            Настроенные Js плагины
                        </li>
                        <li class="skills__item">
                            AJAX - асинхронный JavaScript
                        </li>
                        <li class="skills__item">
                            ООП в ES6
                        </li>
                        <li class="skills__item">
                            FETCH запросы
                        </li>
                    </ul>     
                </li> 
                <li class="skills__items skills__items--sass wow animate__fadeInUp" data-wow-duration="1s" data-wow-offset="100">
                    <object  class="skills__icon skills__icon--sass" id="sass" type="image/svg+xml" data="images/icons/sass.svg" aria-label="Картинка Sass"></object>
                    <span class="skills__category">Scss/sass</span>
                    <ul class="skills__list">
                        <li class="skills__item">
                            Ускоренная стилизация сайта
                        </li>
                        <li class="skills__item">
                            Более гибкий код
                        </li>
                        <li class="skills__item">
                            Улучшенная логика стилей
                        </li>
                        <li class="skills__item">
                            Упрощенный синтаксис
                        </li>
                        <li class="skills__item">
                            Вложенность селекторов без ошибок
                        </li>
                    </ul>     
                </li> 
                <li class="skills__items skills__items--gulp wow animate__fadeInUp" data-wow-duration="1s" data-wow-offset="100">
                    <object  class="skills__icon skills__icon--gulp" id="gulp" type="image/svg+xml" data="images/icons/gulp.svg" aria-label="Картинка gulp"></object>
                    <span class="skills__category">gulp</span>
                    <ul class="skills__list">
                        <li class="skills__item">
                            Быстрое разворачивание проекта
                        </li>
                        <li class="skills__item">
                            Автоматизация процесса верстки
                        </li>
                        <li class="skills__item">
                            Компиляция препроцессоров
                        </li>
                        <li class="skills__item">
                            Использование шаблонизаторов
                        </li>
                        <li class="skills__item">
                            Минификация файлов
                        </li>
                    </ul>     
                </li> 
                <li class="skills__items skills__items--git wow animate__fadeInUp" data-wow-duration="1s" data-wow-offset="100">
                    <object  class="skills__icon skills__icon--git" id="git" type="image/svg+xml" data="images/icons/git.svg" aria-label="Картинка git"></object>
                    <span class="skills__category">git</span>
                    <ul class="skills__list">
                        <li class="skills__item">
                            Параллельно работа над проектом
                        </li>
                        <li class="skills__item">
                            Работа в командной строке
                        </li>
                        <li class="skills__item">
                            Развёртывание репозитория на gh-pages 
                        </li>
                        <li class="skills__item">
                            Создание/удавление веток
                        </li>
                    </ul>     
                </li> 
                <li class="skills__items skills__items--jquery wow animate__fadeInUp" data-wow-duration="1s" data-wow-offset="100">
                    <object  class="skills__icon skills__icon--jquery" id="jquery" type="image/svg+xml" data="images/icons/jquery.svg" aria-label="Картинка jquery"></object>
                    <span class="skills__category">jquery</span>
                    <ul class="skills__list">
                        <li class="skills__item">
                            Работа с DOM
                        </li>
                        <li class="skills__item">
                            Манипуляции с элементами
                        </li>
                        <li class="skills__item">
                            Различные эффекты и анимация
                        </li>
                        <li class="skills__item">
                            Методы событий HTML
                        </li>
                    </ul>     
                </li> 
                <li class="skills__items skills__items--figma wow animate__fadeInUp" data-wow-duration="1s" data-wow-offset="100">
                    <object  class="skills__icon skills__icon--figma" id="figma" type="image/svg+xml" data="images/icons/figma.svg" aria-label="Картинка figma"></object>
                    <span class="skills__category">Figma/Photoshop</span>
                    <ul class="skills__list">
                        <li class="skills__item">
                            Нарезка изображений из макета
                        </li>
                        <li class="skills__item">
                            Оптимизация изображений для Web
                        </li>
                        <li class="skills__item">
                            Экспорт SVG-изображений
                        </li>
                        <li class="skills__item">
                            Создание спрайтов
                        </li>
                    </ul>     
                </li> 
                <li class="skills__items skills__items--animation wow animate__fadeInUp" data-wow-duration="1s" data-wow-offset="100">
                    <div class="skills__animation">
                        <div class="skills__animation-item skills__animation-one" aria-label="Анимированные круги"></div>
                        <div class="skills__animation-item skills__animation-two" aria-label="Анимированные круги"></div>
                        <div class="skills__animation-item skills__animation-three" aria-label="Анимированные круги"></div>
                    </div>
                    <span class="skills__category">Animation</span>
                    <ul class="skills__list">
                        <li class="skills__item">
                            Анимация на чистом Css
                        </li>
                        <li class="skills__item">
                            Анимация при :hover
                        </li>
                        <li class="skills__item">
                            Бесконечная анимация
                        </li>
                        <li class="skills__item">
                            Установка ключевых кадров
                        </li>
                    </ul>     
                </li> 
            </ul>
        </div>    
    </div>   
</section>    