.home-page {
    height: 100vh;
    width: 100%;
    &__animation{
        position: fixed;
        top: 0;
        left:0;
        bottom: 0;
        right: 0;
    }
    &__stars {
        background: black url("../images/stars.png") repeat;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        z-index: 0;
    }
    &__twinkling{
        width: 10000px;
        height: 100%;
        background: transparent url("../images/twinkling.png") repeat;
        background-size: 1000px 1000px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        animation: move-background 70s linear infinite;
    }
    &__clouds{
        width: 10000px;
        height: 100%;
        background: transparent url("../images/clouds.png") repeat;
        background-size: 1000px 1000px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 3;
        animation: move-background 150s linear infinite;
    }
    &__images{
        height: 70vh;
        width: 70vh;
        position: absolute;
        z-index: 3;
        top: 20px;
        right: 20px;
        @include max($md) {
            height: 50vh;
            width: 50vh;
            right: 10px;
        }
        @include max($sm) {
            height: 35vh;
            width: 35vh;
        }
        @include max($s) {
            height: 29vh;
            width: 29vh;
        }
    }
    &__inner {
        height: 100vh;
        left: 65px;
        position: absolute;
        z-index: 55;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include max($sm) {
            left: 25px;
        }
    }
    &__title {
        font-family: $Ubuntu;
        font-weight: $fw500;
        font-size: 45px;
        margin-bottom: 15px;
        @include lineClamp;
        -webkit-line-clamp: 2;
        transition: opacity 0.5s ease-in;
        @include max($lg) {
            font-size: 39px;
            margin-bottom: 0;
        }
        @include max($md) {
            font-size: 35px;
            @include lineClamp;
            -webkit-line-clamp: 5;
        }
        @include max($sm) {
            line-height: 1.2;
        }
    }
    &__title--outLeft {
        transition: opacity 0.5s ease-in;
        opacity: 0;
    }
    &__title-html {
        font-size: 50px;
        line-height: 1;
        background-color: transparent;
        text-transform: uppercase;
        padding: 0 30px;
        position: relative;
        color: #ADFF00;
        background-image: linear-gradient(to right, #ADFF00 0%, #FF14B4 92%, #15FFFF 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        &::before, 
        &::after {
            position: absolute;
            content: "";
            top: 50%;
            width: 30px;
            height: 33px;
            transform: translateY(-50%);
            @include bg;
        }
        &::after {
            left: 0;
            background-image: url(../images/icons/arrow-left.svg);
        }
        &::before {
            right: 0;
            background-image: url(../images/icons/arrow-right.svg);
        }
        @include max($lg) {
            font-size: 40px;
        }
        @include max($md) {
            font-size: 32px;
        }
        @include max($sm) {
            line-height: 1.2;
        }
    }
    &__name {
        margin-bottom: 20px;
        font-size: 50px;
        color: #d2d3d3;
        font-weight: $fw500;
        letter-spacing: 3px;
        font-family: $Ubuntu;
        transition: opacity 0.7s ease-in;
        @include max($lg) {
            font-size: 35px;
            margin-bottom: 10px;
        }
        @include max($md) {
            font-size: 28px;
        }
    }
    &__name--outLeft {
        transition: opacity 0.7s ease-in;
        opacity: 0;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 255px;
        width: 100%;
        text-transform: uppercase;
        outline: transparent;
        padding: 10px 15px;
        border: 1px solid rgba(110, 121, 128, 0.8);
        border-radius: 5px;
        background: #3b3c3d linear-gradient(#636c72, #1d283c);
        box-shadow: 0 1px rgb(255, 255, 255) inset;
        transition: color 0.3s ease-in, box-shadow 0.3s ease-in, border-color 0.3s ease-in, opacity 0.9s ease-in;
        &:hover {
            color: #fffe27;
        }
        &:hover .home-page__icon{
            fill: #fffe27;
        }
        &:focus {
            background: rgb(206, 220, 231) linear-gradient(rgb(206, 220, 231), rgb(87, 160, 194));
        }
        &:active {
            box-shadow: 0 1px rgb(131, 130, 130);
            border-color: transparent;
        }
    }
    &__link--outLeft {
        transition: opacity 0.9s ease-in;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    &__text {
        margin-right: 10px;
        @include lineClamp;
        -webkit-line-clamp: 1;
    }
    &__icon {
        fill: #fff;
        width: 20px;
        height: 20px;
        transition: fill 0.3s ease-in;
        animation-name: arrow;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        transform-origin: center bottom;
    }
}

@keyframes arrow {
    from, 20%, 53%, to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -4px, 0) scaleY(1.1);
    }
    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -2px, 0) scaleY(1.05);
    }
    80% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0) scaleY(0.95);
    }
    90% {
        transform: translate3d(0, -2px, 0) scaleY(1.02);
    }
}

@keyframes move-background {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    to { 
        transform: translate3d(1000px, 0px, 0px);
    }
}
