<section class="page about-me" id="about-me">
    <div class="container">
        <div class="page__inner about-me__inner">
            <h2 class="title">Über mich</h2>
            <div class="about-me__content">
                <div class="about-me__photo wow animate__fadeInLeft" data-wow-duration="1.5s" data-wow-offset="100">
                    <img class="about-me__images" src="images/photo.jpg" alt="Mein foto">
                </div>
                <div class="about-me__heading wow animate__fadeInRight"  data-wow-duration="1.5s" data-wow-offset="100">
                    Willkommen auf meiner Portfolioseite. Mein Name ist Vadim. Ich bin 31 Jahre alt. Ich lebe in der Stadt Widdern. Ich beschäftige mich mit HTML-Layout von Seiten.
                </div> 
            </div>
            <div class="about-me__text">
                <p>
                    <!-- В 2019 году прошёл курс "Javascript-разработчик" в IT-школе GeekBrains. Закончил курс "Вёрстка сайтов от 0 до 1". Курс "Javascript" Александра Лущенко(ItGid). 
                    В данный момент прохожу курсы ItGid Александра Лущенко - "React". -->
                    Wir kommen aus Belarus. Da wir Spätaussiedler sind.
                    Wir leben seit etwa einem Monat in Deutschland.
                    Wir haben Sprachkurse vor uns, aber ich würde jetzt gerne meine Lieblingsbeschäftigung machen: Programmieren!
                    In Belarus habe ich viel als Javascript-Entwickler studiert. Ich interessiere mich sehr für die Frontend-Entwicklung.
                </p>
                <p>
                    <!-- Я постоянно развиваюсь в своей профессиональной области и всегда открыт новым идеям. Верстаю по стандартам W3C. Динамику сайта организую собственным jQuery, Javascript кодом или настроенными плагинами. У меня полностью кроссбраузерная, адаптивная и валидная верстка. В процессе работы над проектом я использую сборщик проектов Gulp для автоматизации процесса верстки, препроцессоры Scss/Sass для ускоренной стилизации сайта и более гибкого кода, PixelPerfect, BEM, система контроля версий Git, media-запросы для адаптивной верстки сайта. -->
                    2019 absolvierte er den Kurs „Javascript-Entwickler“ an der IT-Schule GeekBrains. Absolvierte den Kurs "Layout von Standorten von 0 bis 1". Kurs "Javascript" von Alexander Lushchenko (ItGid).
                </p>
                <p>
                    <!-- В конце работы осуществляется проверка отображения верстки в различных браузерах на разных устройствах, код проверяется валидатором на соответствие стандартам. -->
                    Ich entwickle mich in meinem Berufsfeld ständig weiter und bin immer offen für neue Ideen. Ich schreibe nach W3C-Standards. Ich organisiere die Dynamik der Seite mit meinem eigenen jQuery, Javascript-Code oder angepassten Plugins. Ich habe ein vollständig browserübergreifendes, adaptives und gültiges Layout. Während ich an einem Projekt arbeite, verwende ich den Gulp Project Builder, um den Layoutprozess zu automatisieren, Scss / Sass-Präprozessoren für schnelleres Site-Styling und flexibleren Code, PixelPerfect, BEM, Git-Versionskontrollsystem, Medienabfragen für adaptives Site-Layout.
                </p>
                <p>
                    Am Ende der Arbeit wird das Layout auf Darstellung in verschiedenen Browsern auf verschiedenen Geräten geprüft, der Code vom Validator auf Normkonformität geprüft.
                </p>
            </div>
            <div class="bout-me__info">
                <h3 class="about-me__subtitle">Zusätzlich</h3>
                <ul class="about-me__list">
                    <li class="about-me__item">
                        <p class="about-me__description">
                            <mark class="about-me__category">Ausbildung:</mark>
                            Hochschulbildung: "Belarussische Staatliche Pädagogische Universität Maxim Tank" (Geschichtsabteilung, Geschichte Lehrer).
                        </p>
                    </li>
                    <li class="about-me__item">
                        <p class="about-me__description">
                            <mark class="about-me__category">Sprachen:</mark>
                            Deutsch sprechen einbisschen
                            Russisch sehr gut in Wort und Schrift
                            Belarussisch sehr gut in Wort und Schrift 
                        </p>
                    </li>
                    <li class="about-me__item">
                        <p class="about-me__description">
                            <mark class="about-me__category">Persönlichen Eigenschaften:</mark>
                            Verantwortung, Geselligkeit, Pünktlichkeit, Genauigkeit, Freundlichkeit
                        </p>
                    </li>
                    <li class="about-me__item">
                        <p class="about-me__description">
                            <mark class="about-me__category">Familienstand:</mark>
                            Verheiratet, ein Kind
                        </p>
                    </li>
                    <li class="about-me__item">
                        <p class="about-me__description">
                            <mark class="about-me__category">Letzter Arbeitsplatz, Position:</mark>
                            Wargaming, Administrator
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>