<section class="page contacts" id="contacts" >
    <div class="container">
        <div class="page__inner contacts__inner" style="background-image: url(images/contacts-bg.png);">
            <h2 class="title contacts__title">Kontakte</h2>
            <ul class="contacts__list">
                <li class="contacts__item contacts__item--phone">
                    <svg class="contacts__circle" preserveAspectRatio="xMinYMin meet" viewBox="0 0 200 200">  
                        <circle cx="100" cy="100" r="50"/>
                    </svg>
                    <div class="contacts__social">
                        <svg class="contacts__icon" aria-label="icon instagramm">
                            <use xlink:href="images/sprite.svg#phone"></use>
                        </svg> 
                    </div>
                    <a class="contacts__link"  href="tel:+4917656477744" aria-label="Es wird einen Anruf geben"></a>
                </li>

                <li class="contacts__item contacts__item--telegram">
                    <svg class="contacts__circle" preserveAspectRatio="xMinYMin meet" viewBox="0 0 200 200">  
                        <circle cx="100" cy="100" r="50"/>
                    </svg>
                    <div class="contacts__social">
                        <svg class="contacts__icon" aria-label="icon telegram">
                            <use xlink:href="images/sprite.svg#telegram"></use>
                        </svg> 
                    </div>
                    <a class="contacts__link" target="_blanck" href="tg://resolve?domain=Kulman_wg" aria-label="Es wird einen Anruf geben"></a>
                </li>
                <li class="contacts__item contacts__item--viber">
                    <svg class="contacts__circle" preserveAspectRatio="xMinYMin meet" viewBox="0 0 200 200">  
                        <circle cx="100" cy="100" r="50"/>
                    </svg>
                    <div class="contacts__social">
                        <svg class="contacts__icon" aria-label="icon viber">
                            <use xlink:href="images/sprite.svg#viber"></use>
                        </svg> 
                    </div>
                    <a class="contacts__link" href="viber://chat?number=+4917656477744" aria-label="Es wird einen Anruf geben"></a>
                </li>
                <li class="contacts__item contacts__item--whatsapp">
                    <svg class="contacts__circle" preserveAspectRatio="xMinYMin meet" viewBox="0 0 200 200">  
                        <circle cx="100" cy="100" r="50"/>
                    </svg>
                    <div class="contacts__social">
                        <svg class="contacts__icon" aria-label="icon whatsapp">
                            <use xlink:href="images/sprite.svg#whatsapp"></use>
                        </svg> 
                    </div>
                    <a class="contacts__link" target="_blanck" href="https://wa.me/+4917656477744?text=Hallo." aria-label="Es wird einen Anruf geben"></a>
                </li>
                <li class="contacts__item contacts__item--skype">
                    <svg class="contacts__circle" preserveAspectRatio="xMinYMin meet" viewBox="0 0 200 200">  
                        <circle cx="100" cy="100" r="50"/>
                    </svg>
                    <div class="contacts__social">
                        <svg class="contacts__icon" aria-label="icon skype">
                            <use xlink:href="images/sprite.svg#skype"></use>
                        </svg> 
                    </div>
                    <a class="contacts__link" target="_blanck" href="https://join.skype.com/invite/G8hLSSmsynij" aria-label="Es wird einen Anruf geben"></a>
                </li>
                <li class="contacts__item contacts__item--email">
                    <svg class="contacts__circle" preserveAspectRatio="xMinYMin meet" viewBox="0 0 200 200">  
                        <circle cx="100" cy="100" r="50"/>
                    </svg>
                    <div class="contacts__social">
                        <svg class="contacts__icon" aria-label="icon email">
                            <use xlink:href="images/sprite.svg#email"></use>
                        </svg> 
                    </div>
                    <a class="contacts__link"  href="mailto:kuhlmann-wg@web.de" aria-label="Möglichkeit, per Mail zu schreiben"></a>
                </li>
            </ul>
            <a class="contacts__links contacts__links--git" href="https://github.com/kulman90vadik/" target="_blanck">
                <svg class="contacts__links-icon" aria-label="icon github">
                    <use xlink:href="images/sprite.svg#github"></use>
                </svg> 
                <p class="contacts__text">Mein Profil GitHub</p>
            </a>
            <a class="contacts__links" href="mailto:vadim.kulman90@mail.ru" target="_blanck">
                <svg class="contacts__links-icon" aria-label="icon post">
                    <use xlink:href="images/sprite.svg#post"></use>
                </svg> 
                <p class="contacts__text">kuhlmann-wg@web.de</p>
            </a>
        </div>
    </div>
</section>            
