<section class="home-page">
    <div class="container">
        <div class="home-page__inner">
            <h1 class="home-page__title">Junior <mark class="home-page__title-html">html</mark> верстальщик</h1>
            <span class="home-page__name">Кульман Вадим</span>
            <a class="home-page__link" href="#">
                <span class="home-page__text">
                    Связаться со мной
                </span>
                <svg class="home-page__icon" aria-label="Анимированная стрелка, при клике переход блок с контакми">
                    <use xlink:href="images/sprite.svg#arrow-down"></use>
                </svg>
            </a>
        </div>
    </div>
</section>