<section class="page portfolio" id="portfolio">
    <div class="container">
        <div class="page__inner">
            <h2 class="title">Портфолио</h2>
            <ul class="portfolio__list">
                <li class="portfolio__item wow animate__zoomIn" data-wow-duration="1s" data-wow-offset="100">
                    <img class="portfolio__images" src="images/portfolio/ck.jpg" alt="Картинка сайта Ск инфраструктура">
                    <a class="portfolio__link" href="https://kulman90vadik.github.io/ck/" target="_blanck" aria-label="Переход на страницу сайта"></a>
                    <div class="portfolio__name">"Ск инфраструктура"</div>
                    <span class="portfolio__description">Лэндинг пейдж строительной компании</span>
                </li>
                <li class="portfolio__item wow animate__zoomIn" data-wow-duration="1s" data-wow-offset="100">
                    <img class="portfolio__images" src="images/portfolio/glee.jpg" alt="Картинка сайта интернет магазин">
                    <a class="portfolio__link" href="https://kulman90vadik.github.io/gleee/" target="_blanck" aria-label="Переход на страницу сайта"></a>
                    <div class="portfolio__name">"Glee"</div>
                    <span class="portfolio__description">Интернет магазин мягкой мебели</span>
                </li>
                <li class="portfolio__item wow animate__zoomIn" data-wow-duration="1s" data-wow-offset="100">
                    <img class="portfolio__images" src="images/portfolio/desing.jpg" alt="Картинка сайта Deluxe house">
                    <a class="portfolio__link" href="https://kulman90vadik.github.io/desing-dev/" target="_blanck" aria-label="Переход на страницу сайта"></a>
                    <div class="portfolio__name">"Deluxe house"</div>
                    <span class="portfolio__description">Лэндинг пейдж дизайн интерьера</span>
                </li>
                <li class="portfolio__item wow animate__zoomIn" data-wow-duration="1s" data-wow-offset="100">
                    <img class="portfolio__images" src="images/portfolio/dreams.jpg" alt="Картинка сайта Dreams">
                    <a class="portfolio__link" href="https://kulman90vadik.github.io/dreamss/" target="_blanck" aria-label="Переход на страницу сайта"></a>
                    <div class="portfolio__name">"Dreams"</div>
                    <span class="portfolio__description">Лэндинг пейдж туристической компании</span>
                </li>
                <li class="portfolio__item wow animate__zoomIn" data-wow-duration="1s" data-wow-offset="100">
                    <img class="portfolio__images" src="images/portfolio/wawe.png" alt="Картинка сайта Wawe">
                    <a class="portfolio__link" href="https://kulman90vadik.github.io/my-wawe/" target="_blanck" aria-label="Переход на страницу сайта"></a>
                    <div class="portfolio__name">"Wawe"</div>
                    <span class="portfolio__description">Лэндинг пейдж школы сёрфинга</span>
                </li>
            </ul>
        </div>
    </div>
</section>            