<section class="page portfolio">
    <div class="container">
        <div class="page__inner">
            <h2 class="title">Портфолио</h2>
            <ul class="portfolio__list">
                <li class="portfolio__item">
                    <img class="portfolio__images" src="images/portfolio/1.jpg" alt="">
                    <a class="portfolio__link" href="">
                        <span class="portfolio__dscription"></span>
                        <span class="portfolio__name"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>            