<section class="page portfolio" id="portfolio">
    <div class="container">
        <div class="page__inner">
            <h2 class="title">Портфолио</h2>
            <ul class="portfolio__list">
                <li class="portfolio__item wow animate__zoomIn" data-wow-duration="1s" data-wow-offset="100">
                    <a class="portfolio__link" href="https://kulman90vadik.github.io/ck/" target="_blanck" aria-label="Переход на страницу сайта">
                        <!-- <div class="portfolio__photo">
                            <img class="portfolio__images" src="images/portfolio/ck.jpg" alt="Картинка сайта Ск инфраструктура">
                        </div> -->
                        <!-- <div > -->
                        <picture class="portfolio__photo">
                            <source srcset="images/portfolio/web/ck.webp" type="image/webp">
                            <img class="portfolio__images" src="images/portfolio/ck.jpg" alt="Картинка сайта Ск инфраструктура">
                        </picture>         
                        <div class="portfolio__info">
                            <div class="portfolio__name">"Ск инфраструктура"</div>
                            <span class="portfolio__description">Лэндинг пейдж строительной компании</span>
                        </div>
                    </a>
                </li>
                <li class="portfolio__item wow animate__zoomIn" data-wow-duration="1s" data-wow-offset="100">
                    <a class="portfolio__link" href="https://kulman90vadik.github.io/boon/" target="_blanck" aria-label="Переход на страницу сайта">
                        <!-- <div class="portfolio__photo">
                            <img class="portfolio__images" src="images/portfolio/boon.png" alt="Картинка сайта Ск инфраструктура">
                        </div> -->
                        <picture class="portfolio__photo">
                            <source srcset="images/portfolio/web/boon.webp" type="image/webp">
                            <img class="portfolio__images" src="images/portfolio/boon.png" alt="Картинка сайта Ск инфраструктура">
                        </picture>   
                        <div class="portfolio__info">
                            <div class="portfolio__name">"Floristman"</div>
                            <span class="portfolio__description">Цветочный интернет магазин</span>
                            <div class="portfolio__description-pages">Количество страниц: 8</div>
                        </div>
                    </a>
                </li>
                <li class="portfolio__item wow animate__zoomIn" data-wow-duration="1s" data-wow-offset="100">
                    <a class="portfolio__link" href="https://kulman90vadik.github.io/arron/" target="_blanck" aria-label="Переход на страницу сайта">
                        <!-- <div class="portfolio__photo">
                            <img class="portfolio__images" src="images/portfolio/arron.png" alt="Картинка сайта ремонт телефонов">
                        </div> -->
                        <picture class="portfolio__photo">
                            <source srcset="images/portfolio/web/arron.webp" type="image/webp">
                            <img class="portfolio__images" src="images/portfolio/arron.png" alt="Картинка сайта ремонт телефонов">
                        </picture> 
                        <div class="portfolio__info">
                            <div class="portfolio__name">"Arron service center"</div>
                            <span class="portfolio__description">Лэндинг пейдж ремонт телефонов</span>
                        </div>
                    </a>
                </li>
                <li class="portfolio__item wow animate__zoomIn" data-wow-duration="1s" data-wow-offset="100">
                    <a class="portfolio__link" href="https://kulman90vadik.github.io/gleee/" target="_blanck" aria-label="Переход на страницу сайта">
                        <!-- <div class="portfolio__photo">
                            <img class="portfolio__images" src="images/portfolio/glee.jpg" alt="Картинка сайта Ск инфраструктура">
                        </div> -->
                        <picture class="portfolio__photo">
                            <source srcset="images/portfolio/web/glee.webp" type="image/webp">
                            <img class="portfolio__images" src="images/portfolio/glee.jpg" alt="Картинка сайта Ск инфраструктура">
                        </picture> 
                        <div class="portfolio__info">
                            <div class="portfolio__name">"Glee"</div>
                            <span class="portfolio__description">Интернет магазин мягкой мебели</span>
                            <div class="portfolio__description-pages">Количество страниц: 9</div>
                        </div>
                    </a>
                </li>
                <li class="portfolio__item wow animate__zoomIn" data-wow-duration="1s" data-wow-offset="100">
                    <a class="portfolio__link" href="https://kulman90vadik.github.io/desing-dev/" target="_blanck" aria-label="Переход на страницу сайта">
                        <!-- <div class="portfolio__photo">
                            <img class="portfolio__images" src="images/portfolio/desing.jpg" alt="Картинка сайта Ск инфраструктура">
                        </div> -->
                        <picture class="portfolio__photo">
                            <source srcset="images/portfolio/web/desing.webp" type="image/webp">
                            <img class="portfolio__images" src="images/portfolio/desing.jpg" alt="Картинка сайта Ск инфраструктура">
                        </picture> 
                        <div class="portfolio__info">
                            <div class="portfolio__name">"Deluxe house"</div>
                            <span class="portfolio__description">Лэндинг пейдж дизайн интерьера</span>
                        </div>
                    </a>
                </li>
                <li class="portfolio__item wow animate__zoomIn" data-wow-duration="1s" data-wow-offset="100">
                    <a class="portfolio__link" href="https://kulman90vadik.github.io/dreamss/" target="_blanck" aria-label="Переход на страницу сайта">
                        <!-- <div class="portfolio__photo">
                            <img class="portfolio__images" src="images/portfolio/dreams.jpg" alt="Картинка сайта Ск инфраструктура">
                        </div> -->
                        <picture class="portfolio__photo">
                            <source srcset="images/portfolio/web/dreams.webp" type="image/webp">
                            <img class="portfolio__images" src="images/portfolio/dreams.jpg" alt="Картинка сайта Ск инфраструктура">
                        </picture>
                        <div class="portfolio__info">
                            <div class="portfolio__name">"Dreams"</div>
                            <span class="portfolio__description">Лэндинг пейдж туристической компании</span>
                        </div>
                    </a>
                </li>
                <li class="portfolio__item wow animate__zoomIn" data-wow-duration="1s" data-wow-offset="100">
                    <a class="portfolio__link" href="https://kulman90vadik.github.io/my-wawe/" target="_blanck" aria-label="Переход на страницу сайта">
                        <!-- <div class="portfolio__photo">
                            <img class="portfolio__images" src="images/portfolio/wawe.png" alt="Картинка сайта Ск инфраструктура">
                        </div> -->
                        <picture class="portfolio__photo">
                            <source srcset="images/portfolio/web/wawe.webp" type="image/webp">
                            <img class="portfolio__images" src="images/portfolio/wawe.png" alt="Картинка сайта Ск инфраструктура">
                        </picture>
                        <div class="portfolio__info">
                            <div class="portfolio__name">"Wawe"</div>
                            <span class="portfolio__description">Лэндинг пейдж школы сёрфинга</span>
                        </div>
                    </a>
                </li>
                <li class="portfolio__item wow animate__zoomIn" data-wow-duration="1s" data-wow-offset="100">
                    <a class="portfolio__link" href="https://kulman90vadik.github.io/woodCraft/" target="_blanck" aria-label="Переход на страницу сайта">
                        <!-- <div class="portfolio__photo">
                            <img class="portfolio__images" src="images/portfolio/wood.png" alt="Картинка сайта Ск инфраструктура">
                        </div> -->
                        <picture class="portfolio__photo">
                            <source srcset="images/portfolio/web/wood.webp" type="image/webp">
                            <img class="portfolio__images" src="images/portfolio/wood.png" alt="Картинка сайта Ск инфраструктура">
                        </picture>
                        <div class="portfolio__info">
                            <div class="portfolio__name">"Wood Craft Studio"</div>
                            <span class="portfolio__description">Лэндинг пейдж авторской мебели</span>
                        </div>
                    </a>
                </li>

                <li class="portfolio__item wow animate__zoomIn" data-wow-duration="1s" data-wow-offset="100">
                    <a class="portfolio__link" href="https://kulman90vadik.github.io/ringo/" target="_blanck" aria-label="Переход на страницу сайта">
                        <!-- <div class="portfolio__photo">
                            <img class="portfolio__images" src="images/portfolio/wood.png" alt="Картинка сайта Ск инфраструктура">
                        </div> -->
                        <picture class="portfolio__photo">
                            <source srcset="images/portfolio/web/ringo.webp" type="image/webp">
                            <img class="portfolio__images" src="images/portfolio/ringo.png" alt="Картинка сайта изготовление мебели">
                        </picture>
                        <div class="portfolio__info">
                            <div class="portfolio__name">"Ringo"</div>
                            <span class="portfolio__description">Лэндинг пейдж изготовление мебели</span>
                        </div>
                    </a>
                </li>

                <li class="portfolio__item wow animate__zoomIn" data-wow-duration="1s" data-wow-offset="100">
                    <a class="portfolio__link" href="https://kulman90vadik.github.io/fogex/" target="_blanck" aria-label="Переход на страницу сайта">
                        <!-- <div class="portfolio__photo">
                            <img class="portfolio__images" src="images/portfolio/wood.png" alt="Картинка сайта Ск инфраструктура">
                        </div> -->
                        <picture class="portfolio__photo">
                            <source srcset="images/portfolio/web/fogex.webp" type="image/webp">
                            <img class="portfolio__images" src="images/portfolio/fogex.png" alt="Картинка сайта изготовление мебели">
                        </picture>
                        <div class="portfolio__info">
                            <div class="portfolio__name">"Fogex"</div>
                            <span class="portfolio__description">Лэндинг пейдж европейские трубы</span>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</section>            