<section class="page skills">
    <div class="container">
        <div class="page__inner skills__inner">
            <h2 class="title">Навыки</h2>
            <ul class="skills__list">
                <li class="skills__item">
                    <object class="skills__icon" id="html" type="image/svg+xml" data="images/icons/html.svg"></object>
                </li>
                <li class="skills__item">
                    <object  class="skills__icon" id="css" type="image/svg+xml" data="images/icons/css.svg"></object>
                </li>
            </ul>
        </div>    
    </div>   
</section>    